.btnStyle{
    background:#0d1c9e;
    border-radius: 59px;
    padding: 15px 32px;
    border: none;
    cursor: pointer;
    font-family: Inter_Bold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}
.btnStyle:disabled{
    cursor: not-allowed;
}
.btnStyle:hover{
    box-shadow: 0px 0px 16px 0px #6B9BF2;
}