* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  background-color:#FFFFFF;
  min-height: 100vh;
}

html{
  scroll-behavior: smooth;
}

.container{
  max-width: 1760px;
  width: 100%;
  padding-left:15px;
  padding-right: 15px;
  margin: 0 auto;
}

.swiper {
  background-color: black;
  max-width: 1400px;
  width: 100%;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  position: unset !important;
}
.tradingImg{
  cursor: pointer;
}

@font-face {
  font-family: Inter_Light;
  src: url('app/assets/fonts/Inter/Inter_Light.ttf');
}

@font-face {
  font-family: Inter_Regular;
  src: url("app/assets/fonts/Inter/Inter_Regular.ttf");
}

@font-face {
  font-family: Inter_Medium;
  src: url('app/assets/fonts/Inter/Inter_Medium.ttf');
}

@font-face {
  font-family: Inter_SemiBold;
  src: url('app/assets/fonts/Inter/Inter_SemiBold.ttf');
}

@font-face {
  font-family: Inter_Bold;
  src: url('app/assets/fonts/Inter/Inter_Bold.ttf');
}
